# Terraform local files
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.log
*.backup
.terraform.lock.hcl
state.txt

# Ignore provider binaries
terraform/modules/**/.terraform/
terraform/modules/**/.terraform.lock.hcl
